<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap 4 Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/github.css">
    </head>
    <body>

        <div class="container github-container">
            <div class="card github-user-container" style="width:250px">
                <img class="card-img-top" src="{{user.avatar_url}}" alt="{{user.name}}">
                <div class="card-body">
                    <h4 class="card-title">{{user.name}}</h4>
                    <p class="card-text">{{user.bio}}</p>
                    <p class="card-text">{{user.email}}</p>
                    <a href="{{user.html_url}}" class="btn btn-primary">Ver Github</a>
                </div>
            </div>
            {% include "table.njk" %}
        </div>

    </body>
</html>