<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IMC APP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/imc-index.css">
    <link rel="stylesheet" href="/css/imc-index-responsible.css">
  </head>
  <body>

    <div class="container custom-index-container">
      <h1>Calcule seu IMC
        {{name}}</h1>
      <form action="/" method="POST">

        <div class="form-row">

          <div class="form-group col-md-6">
            <label for="height">Altura</label>
            <input type="text" class="form-control" id="height" name="height" value="{{height}}">
          </div>

          <div class="form-group col-md-6">
            <label for="weight">Peso</label>
            <input type="text" class="form-control" id="weight" name="weight" value="{{weight}}">
          </div>

          <div class="form-group col-md-6">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sexo" id="sexo" value="1" checked="checked">
              <label class="form-check-label" for="masculino">
                Masculino
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sexo" id="sexo" value="0">
              <label class="form-check-label" for="feminino">
                Feminino
              </label>
            </div>
          </div>

        </div>

        <button type="submit" class="btn btn-primary">Calcular</button>

      </form>

      <div class="card custom-card">
        <div class="card-body">
          <h4 class="card-title">Estatísticas:</h4>
          <ul class="list-group">
            <li class="list-group-item">
              Número de mulheres: 
              <span class="list-result {% if women_number_greater_than_4 %}red{% endif %}">{{total_women}}</span>
            </li>
            <li class="list-group-item">
              Número de homens: 
              <span class="list-result">{{total_men}}</span>
            </li>
            <li class="list-group-item">
              Número de pessoas fora do ideal: 
              <span class="list-result">{{total_out_imc}}</span>
            </li>
          </ul>          
        </div>
        <div></div>

      </body>
    </html>