<div class="table-imc">
    <h2>TABELA IMC</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>ALTURA</th>
                <th>PESO</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.altura}}</td>
                    <td>{{row.peso}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
